#page-landing {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);

    display: flex;
    justify-content: center;
    align-items: center;
}

#page-landing .content-wrapper {
    position: relative;
    width: 100%;
    max-width: 1100px;

    height: 100%;
    height: 680px;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;

    background: url('../../images/landing.svg') no-repeat 80% center;
}

#page-landing .content-wrapper main {
    max-width: 350px;
}

#page-landing .content-wrapper main h1 {
    font-size: 76px;
    font-weight: 900;
    line-height: 70px;
}

#page-landing .content-wrapper main p {
    margin-top: 40px;
    font-size: 24px;
    line-height: 34px;
}

.content-wrapper .location {
    font-size: 24px;
    line-height: 34px;

    display: flex;
    flex-direction: column;
    text-align: left;
}

.content-wrapper .location strong {
    font-weight: 800;
}

.content-wrapper .logo-location-contents {
    width: 450px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-wrapper .restricted-access-button {
    position: absolute;
    right: 0;
    top: 0;
    width: 220px;
    height: 56px;
    background: #12D4E0;
    border-radius: 20px;

    color: #FFF;
    font-weight: 800;
    font-size: 20px;
    text-decoration: none;

    transition: 0.2s;

    display: flex;
    align-items: center;
    justify-content: center;
}

.content-wrapper .restricted-access-button:hover {
    background: #96FEFF;
    color: #15C3D6;
}

.content-wrapper .enter-app {
    position: absolute;
    right: 0;
    bottom: 0;

    width: 80px;
    height: 80px;
    background: #ffd666;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.2s;
}

.content-wrapper .enter-app:hover {
    background: #96feff;
}
